---
title: Creative Lab

projects:
  -
    section: jQuery
    projects:
      -
        title: jqt
        description: A low-level jQuery plugin for node hiding and showing through css transitions
        url: https://github.com/srph/jqt
      -
        title: jQuery Modal
        description: Spawn modals with jQuery
        url: https://github.com/srph/jquery-modal
  -
    section: React
    projects:
      -
        title: React HOC Compose
        description: Compose factory components on the go.
        url: https://github.com/srph/react-hoc-compose
      -
        title: React Uploadi
        description: The bare minimum to build file upload user interfaces.
        url: https://github.com/srph/react-uploadi
      -
        title: React Confirm
        description: Replace native `confirm` function with yer modals.
        url: https://github.com/srph/react-confirm
      -
        title: React Tabs Manager
        description: Build tab functionalities for complicated layouts. An advanced alternative for react-tabs.
        url: https://github.com/srph/react-tabs-manager
      -
        title: React Accordion
        description: Build markup-agnostic accordions
        url: https://github.com/srph/react-accordion
      -
        title: React Timesheet
        description: An opinionated timesheet component for React
        url: https://github.com/srph/react-timesheet
      -
        title: React Infinite Scroll
        description: A simple infinite scroll React.js component
        url: https://github.com/srph/react-infinite-scroll
  -
    section: CSS
    projects:
      -
        title: Djiyo
        description: A Digital Ocean-esque CSS Starter Kit 
        url: https://github.com/srph/djiyo
      -
        title: m
        description: (n.) minimalistic stylesheets
        url: https://github.com/srph/m
  -
    section: Miscellaneous
    projects:
      -
        title: npm Scripts Info
        description: Display the description of your npm scripts
        url: https://github.com/srph/npm-scripts-info
      -
        title: Dota 2 Responses Slack Bot
        description: A Slack bot referencing Dota 2 responses to appropriate chat messages.
        url: https://github.com/srph/dota-responses-slack-bot
      -
        title: PLDTFIBR Wifi Password
        description: A mac-address reverser to obtain the default password of a PLDTHOMEFIBR Wifi.
        url: https://github.com/srph/pldtfibr-wifi-password
  -
    section: Toys
    projects:
      -
        title: Note++
        description: A toy note-taking web app built with Go and React.
        url: https://github.com/srph/toy-notepp
      -
        title: Serve Hey
        description: A survey builder built with Vue.js.
        url: https://github.com/srph/toy-vue-serve-hey
  -
    section: Archived & Hackathons
    projects:
      -
        title: Pasei
        description: A grading application for Pasay High School. Built with Laravel.
        url: https://github.com/srph/pasei
      -
        title: Quicklean
        description: A dissertation mobile app to manage a self-served laundromat. Built with Ionic.
        url: https://github.com/srph/quicklean
      -
        title: E-Dental
        description: A dissertation web app to manage a dental clinic’s customers and schedules. Built with Laravel.
        url: https://github.com/srph/edms
      -
        title: Toroku
        description: Web user registration for Valiant ROSE Online. Built with Laravel.
        url: https://github.com/srph/toroku
      -
        title: Dream Rose Online
        description: The web app for Dream ROSE Online. Built with Laravel.
        url: https://github.com/srph/dream-rose
      -
        title: Osmena Times
        description: A rushed news system. Built with Laravel.
        url: https://github.com/srph/osmena-times
---

<div class="container">
  <div class="formatted-content -intro">
    <h6 class="heading">Creative Lab</h6>
    <p class="body">Here you can find some interesting side projects, and open-source contributions I’ve made in my free time.</p>
  </div>

  {% for section in page.projects %}
    <div class="lab-section">
      <h4 class="heading">{{ section.section }}</h4>

      <div class="group">
        {% for project in section.projects %}
          <div class="item">
            <h6 class="heading">
              <a href="{{ project.url }}" class="link" target="_blank">
                {{ project.title }}
                <i class="arrow fa fa-angle-right"></i>
              </a>
            </h6>

            <p class="body">
              {{ project.description }}
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}

  <div class="pull-box">
    <h6 class="heading">I Want More!</h6>

    <p class="body">
      You can catch more of my code at <a href="https://github.com/{{ social.github }}">GitHub</a> and <a href="https://codepen/{{ social.codepen }}">CodePen</a>.
      For articles I’ve written, follow me on <a href="https://medium.com/@{{ social.medium }}">Medium</a>.
    </p>

    <aside class="action">
      <a href="mailto:{{ site.social.email }}?subject=Hi"" class="button -rounded">
        Say Hi
      </a>
    </aside>
  </div>

  {% include footer.html %}
</div>
