---
title: Sup

projects:
  -
    section: jQuery
    projects:
      -
        title: jqt
        description: A low-level jQuery plugin for node hiding and showing through css transitions
      -
        title: jQuery Modal
        description: Spawn modals with jQuery
  -
    section: React
    projects:
      -
        title: React Confirmable
        description: A high-order component to replace the native `confirm` function with yer modals
      -
        title: React Timesheet
        description: An opinionated timesheet component for React
      -
        title: React Infinite Scroll
        description: A simple infinite scroll React.js component
  -
    section: Miscellaneous
    projects:
      -
        title: Djiyo
        description: A high-order component to replace the native `confirm` function with yer modals
      -
        title: npm Scripts Info
        description: Display the description of your npm scripts
      -
        title: Dota 2 Responses Slack Bot
        description: A Slack bot referencing Dota 2 responses to appropriate chat messages.
      -
        title: PLDTFIBR Wifi Password
        description: A mac-address reverser to obtain the default password of a PLDTHOMEFIBR Wifi.
  -
    section: Archived & Hackathons
    projects:
      -
        title: Pasei
        description: A grading application for Pasay High School. Built with Laravel.
      -
        title: Quicklean
        description: A dissertation mobile app to manage a self-served laundromat. Built with Ionic.
      -
        title: E-Dental
        description: A dissertation web app to manage a dental clinic’s customers and schedules. Built with Laravel.
      -
        title: Toroku
        description: Web user registration for Valiant ROSE Online. Built with Laravel.
      -
        title: Dream Rose Online
        description: The web app for Dream ROSE Online. Built with Laravel.
      -
        title: Osmena Times
        description: A rushed news system. Built with Laravel.
---

<div class="container">
  <div class="formatted-content -intro">
    <h6 class="heading">Creative Lab</h6>
    <p class="body">Here you can find some interesting side projects, and open-source contributions I’ve made in my free time.</p>
  </div>

  {% for section in page.projects %}
    <div class="lab-section">
      <h4 class="heading">{{ section.section }}</h4>

      {% for project in section.projects %}
        <div class="item">
          <h6 class="heading">
            {{ project.title }}
            <i class="arrow fa fa-angle-right"></i>
          </h6>

          <p class="body">
            {{ project.description }}
          </p>
        </div>
      {% endfor %}
    </div>
  {% endfor %}

  <div class="pull-box">
    <h6 class="heading">I Want More!</h6>

    <p class="body">
      You can catch more of my code at <a href="#">GitHub</a> and <a href="#">CodePen</a>.
      For articles I’ve written, follow me on <a href="#">Medium</a>.
    </p>

    <aside class="action">
      <a href="#" class="button -rounded">
        Say Hi
      </a>
    </aside>
  </div>

  {% include footer.html %}
</div>