---
title: Showcase

projects:
  -
    preview: loaner.png
    title: Loaner
    description: Loaner is an open-source desktop application that makes it easy to manage personal loans.
    tags:
      - Desktop App
      - UI Design
    platform: desktop
  -
    preview: tara.png
    title: Tara PMB
    description: TARA is the intelligent product builder. TARA makes it easier with brilliant human talent and smart project management.
    tags:
      - Web App
      - UI Design
    platform: browser
  -
    preview: hackstrong.png
    title: GoCart
    description: Social Media Meets E-commerce. Your own mall at your fingertips.
    tags:
      - Web App
      - Startup
    platform: browser
  -
    preview: hackstrong.png
    title: One Marketplace
    description: One Marketplace is the bazaar of One, the social e-commerce platform that lets you build personal or commercial online stores.
    tags:
      - Web App
      - UI Design
    platform: browser
  -
    preview: hackstrong.png
    title: Hackstrong
    description: The website for the first HackStrong event
    tags:
      - Web App
      - UI Design
    platform: browser
---

<div class="container">

  <div class="formatted-content -intro">
    <h6 class="heading">Showcase</h6>
    <p class="body">I build products that help others tell their stories.</p>
  </div>

  <section>
    {% for project in page.projects %}
      <div class="showcase-item">
        <div class="preview">
          <div class="browser-box">
            <div class="heading">
              <div class="actions">
                <div class="action"></div>
                <div class="action"></div>
                <div class="action"></div>
              </div>

              {% if project.platform == 'browser' %}
                <div class="url"></div>

                <div class="cog">
                  <i class="fa fa-cog"></i>
                </div>
              {% endif %}
            </div>

            <img src="/assets/showcase/{{ project.preview }}" class="dom">
          </div>
        </div>

        <div class="info">
          <h1 class="title">{{ project.title }}</h1>
          <p class="description">{{ project.description }}</p>

          <ul class="tags">
            {% for tag in project.tags %}
              <li>{{ tag }}</li>
            {% endfor %}
          </ul>

          <a href="#" class="button">View Project</a>
        </div>
      </div>
    {% endfor %}
  </section>

  <div class="pull-box">
    <h6 class="heading">Work With Me</h6>

    <p class="body">
      Got something <span class="emphasis">cool</span> in mind?
    </p>

    <aside class="action">
      <a href="mailto:{{ site.social.email }}?subject=Work Inquiry" class="button -rounded">
        Let's Talk
      </a>
    </aside>
  </div>


  {% include footer.html %}
</div>
