<nav class="social-media {% if include.alternate %} -alternate {% endif %}">
  <a href="https://github.com/{{ site.social.github }}" class="media" title="{{ site.social.github }} at GitHub"><i class="fa fa-github"></i></a>
  <a href="https://medium.com/{{ site.social.medium }}" class="media" title="@{{ site.social.medium }} at Medium"><i class="fa fa-medium"></i></a>
  <a href="https://twitter.com/{{ site.social.twitter }}" class="media" title="{{ site.social.twitter }} at Twitter"><i class="fa fa-twitter"></i></a>
  <a href="https://codepen.io/{{ site.social.codepen }}" class="media" title="{{ site.social.codepen }} at CodePen"><i class="fa fa-codepen"></i></a>
  <a href="mailto:{{ site.social.email }}?subject=Hi" class="media" title="{{ site.social.email }}"><i class="fa fa-envelope-o"></i></a>
</nav>