$color-white: #fff;
$color-gray-light: #E7E7E7;
$color-gray: #8B9599;
$color-gray-dark: #60676C;
$color-black: #000;
$color-sub: #50A3E3;
$color-primary: #33DC87;

$font-size-base: 14px;
$font-size-h1: 32px;
$font-size-h2: 24px;
$font-size-h3: 20px;
$font-size-h4: 16px;
$font-size-h5: 14px;
$font-size-h6: 12px;

$form-size: 36px;

$grid-breakpoints: (
  xs: 320px,
  sm: 480px,
  md: 768px,
  lg: 992px,
  xl: 1160px
);

$border-radius: 4px;
$border-radius-curvy: 50px;