.formatted-content {
  margin-bottom: 40px;

  > .heading {
    font-weight: 600;
    color: $color-primary;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  > .lead {
    font-size: $font-size-h2;
  }

  > .body {
    margin-bottom: 0;
    font-size: $font-size-h3;
    font-weight: 300;
  }

  > .body:not(:last-child) {
    margin-bottom: 24px;
  }

  &.-intro {
    text-align: center;
  }

  &.-intro > .body {
    font-weight: 400;
    font-size: $font-size-base;

    @include breakpoint-md {
      font-size: $font-size-h2;
    }
  }
}