.main-nav {
  margin-bottom: 48px;

  @include breakpoint-md {
    @include container;
    @include container-constraints;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    margin-bottom: 80px;
  }
  
  > .title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    font-size: $font-size-h4;
    color: $color-black;
    background: $color-white;
    border-bottom: 1px solid $color-gray-light;
    z-index: 100;

    @include breakpoint-md {
      display: block;
      height: auto;
      font-size: $font-size-h2;
      border-bottom: 0;
    }
  }

  > .linkset {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background: $color-white;
    box-shadow: 0 3px 16px rgba(0,0,0,0.2);
    z-index: 90;

    @include breakpoint-md {
      box-shadow: none;
    }
  }

  > .linkset > .link {
    height: 100%;
    line-height: 39px;
    font-weight: 300;
    color: $color-gray-light;
    height: 100%;

    @include breakpoint-md {
      font-size: $font-size-h4;
    }
  }

  > .linkset > .link:not(:last-child) {
    margin-right: 16px;

    @include breakpoint-md {
      margin-right: 24px;
    }
  }

  > .linkset > .link.-active {
    color: $color-black;
  }
}