.showcase-item {
  padding-bottom: 32px;
  border-bottom: 1px solid $color-gray-light;

  > .preview {
    margin-bottom: 24px;
  }

  > .title {
    margin-bottom: 24px;
    font-weight: 100;
    color: $color-gray-dark;
  }

  > .description {
    color: $color-gray;
    margin-bottom: 16px;
    line-height: 2;
  }

  > .tags {
    // list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
  }

  > .tags > li {
    display: inline-block;
    color: $color-gray-dark;
    text-transform: uppercase;
    font-size: $font-size-h6;
    font-weight: 600;
  }

  > .tags > li:not(last-child) {
    margin-right: 8px;
  }

  > .tags > li::before {
    content: "";
    display: inline-block;
    position: relative;
    top: -2px;
    margin-right: 8px;
    height: 4px;
    width: 4px;
    background: $color-gray;
    border-radius: 50%;
  }

  > .tags > li:first::before {
    background: $color-sub;
  }
}