.showcase-item {
  padding-bottom: 32px;

  @include breakpoint-md {
    margin-bottom: 32px;
    padding-top: 40px;
    padding-bottom: 0;
  }

  &:last-child {
    @include breakpoint-md {
      margin-bottom: 64px;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid $color-gray-light;
  }

  &:nth-child(odd) {
    @include breakpoint-md {
      flex-direction: row-reverse;
    }
  }

  &:nth-child(odd) > .preview {
    @include breakpoint-md {
      margin-right: 0;
      margin-left: 32px;
    }
  }

  &:hover > .preview {
    @include breakpoint-md {
      transform: translateY(-64px);
    }
  }

  &:hover > .info > .tags {
    @include breakpoint-md {
      opacity: 1;
    }
  }

  @include breakpoint-md {
    display: flex;
    border-bottom: 1px solid $color-gray-light;
    height: 300px;
    overflow-y: hidden;
  }

  > .preview {
    margin-bottom: 24px;

    @include breakpoint-md {
      margin-top: 32px;
      margin-right: 32px;
      transform: translateY(0px);
      transition: 200ms all ease;
    }
  }

  > .info {
    @include breakpoint-md {
      flex-shrink: 0;
      width: 40%;
    }
  }

  > .info > .title {
    margin-bottom: 24px;
    font-weight: 100;
    color: $color-gray-dark;
  }

  > .info > .description {
    color: $color-gray;
    margin-bottom: 16px;
    line-height: 2;
  }

  > .info > .tags {
    // list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 32px;

    @include breakpoint-md {
      opacity: 0;
      transition: 200ms all ease;
    }
  }

  > .info > .tags > li {
    display: inline-block;
    color: $color-gray-dark;
    text-transform: uppercase;
    font-size: $font-size-h6;
    font-weight: 600;
  }

  > .info > .tags > li:not(last-child) {
    margin-right: 8px;
  }

  > .info > .tags > li::before {
    content: "";
    display: inline-block;
    position: relative;
    top: -2px;
    margin-right: 8px;
    height: 4px;
    width: 4px;
    background: $color-gray;
    border-radius: 50%;
  }

  > .info > .tags > li:first-child::before {
    background: $color-sub;
  }
}